<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="myNav">
  <div class="container">
    <a class="navbar-brand " th:href="@{/}">SPRK SHOP</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-end " style="width:100%">
        <a class="nav-link active" aria-current="page" th:href="@{/admin/product}">Add Product</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </div>
    </div>


  </div>
</nav>