<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="header-links :: headLinks"></th:block>
</head>
<body>
<th:block th:insert="navbar :: myNav"></th:block>

<div class="container">
    <div class="w-75 mx-auto">

        <h1 class="my-5 text-center">Product Details</h1>

        <form th:action="@{/admin/product}" method="post" class="row g-3" th:object="${product}">
            <div class="col-md-8 mb-3">
                <label for="productName" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="productName" th:field="*{productName}">
            </div>
            <div class="col-md-4 mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" id="price" th:field="*{productPrice}">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" rows="3" th:field="*{productDescription}"></textarea>
            </div>
            <div class="mb-3">
                <label for="urls" class="form-label">Image Urls</label>
                <textarea class="form-control" id="urls" rows="3" name="imageUrls" placeholder="image link 1, image link 2"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Save Product</button>

        </form>
    </div>
</div>


<th:block th:insert="body-links :: bodyLinks"></th:block>
</body>
</html>